/* IMPORT */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* VARIABLE */

:root {
  --background-color: #202020;
  --text-color: #ffffff;
  --secondary-color: #1e2ad3;
  --box-color: #000000;
}

/* BODY */

* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
}

/* NAVBAR */

nav {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px 20px;
}

nav ul {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

/*  HEADER  */

header {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 30px auto;
}

.header-left-container {
  display: grid;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.header-left-container h1 {
  font-size: 5rem;
}

.header-left-container h3 {
  color: var(--secondary-color);
  font-size: 1.8rem;
}

.header-left-container p {
  font-size: 1rem;
}

.header-right {
  width: 50%;
}

#modem {
  width: 100%;
  margin: 0 auto;
}

/* FOOTER */

.infos {
  background-color: var(--box-color);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 33% 67%;
}

.info-left {
  height: 100%;
}

.btn-container {
  display: grid;
}

button {
  border: none;
  background: var(--secondary-color);
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 5px;
}

.info-right {
  width: 100%;
}

.investors {
  display: grid;
  align-items: center;
  height: 86%;
}

.img-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.img-container img {
  height: 60px;
}

/*** MEDIA QUERIES ***/
